
#homepage-container {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: blue;
}

	#navbar {
		height: var( --navbar-height );
		width: 100%;
		background-color: green;
	}

	#tabs-container {
		position: fixed;
		top: var( --navbar-height );
	}
