
#homepage-container {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: blue;
}

	#navbar {
		height: var( --navbar-height );
		width: 100%;
		background-color: green;
		display: flex;
		flex-direction: row;
	}

		#taskbar {
			min-width: 20px;
		}

		#tabs-container {
			display: flex;
			flex-direction: row-reverse;
		}
